.adivinaAvion-container {
    text-align: center;
    padding: 40px;
    border-radius: 10px;
    color: white;
}

.fotoAvion {
    width: 300px;
    margin: 20px auto;
    display: block;
    border: 3px solid white;
    border-radius: 8px;
}

.opciones {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 300px;
    margin: 20px auto;
}

.opciones button {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s ease;
}

.opciones button.correct {
    background-color: #4CAF50;
    color: white;
}

.opciones button.wrong {
    background-color: #f44336;
    color: white;
}

.resultado {
    font-size: 18px;
    margin-top: 20px;
    font-weight: bold;
}

.back-arrow {
    font-size: 2rem;
    text-decoration: none;
    color: white;
    position: absolute;
    top: 85px;
    left: 30px;
    transition: color 0.3s;
}

.back-arrow:hover {
    color: #cccccc;
}

